<a href="https://colab.research.google.com/github/engmanuelricardoperez/UPTC-rainfall_prediction/blob/main/1_2023Q2_MLR_RF_XGBoost.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 1-2023Q2 - Monthly Rainfall Prediction Using Machine Learning Techniques: A Comparative Study of MLR, RF and XGBoost GD

Presented by:

Manuel Ricardo Perez manuelricardo.perez@uptc.edu.co

# 1. Load Data

In [142]:
import pandas as pd

In [143]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [144]:
import io
wind_speed = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/velocidad_viento.csv')

precipitation = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/precipitacion.csv')
precipitation_open_data = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/precipitaciones.csv')
humidity = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/humedad.csv')
temmin = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/temmin.csv')
temmax = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/temmax.csv')

sun2001 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2001.csv')
sun2002 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2002.csv')
sun2003 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2003.csv')
sun2004 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2004.csv')
sun2005 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2005.csv')
sun2006 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2006.csv')
sun2007 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2007.csv')
sun2008 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2008.csv')
sun2009 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2009.csv')
sun2010 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2010.csv')
sun2011 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2011.csv')
sun2012 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2012.csv')
sun2013 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2013.csv')
sun2014 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2014.csv')
sun2015 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2015.csv')
sun2016 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2016.csv')
sun2017 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2017.csv')
sun2018 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2018.csv')
sun2019 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2019.csv')
sun2020 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2020.csv')
sun2021 = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/sol2021.csv')

evaporation = pd.read_csv('/content/drive/MyDrive/phd/deployment proyect/phd/Rainfall Prediction UPTC/Data/Stations Boyacá 2022/datos/evaporacion.csv')

# Data Porccessing

## Solar

In [145]:
sun_frames = [sun2001, sun2002, sun2003, sun2004, sun2005, sun2006, sun2007, sun2008, sun2009, sun2010, sun2011, sun2012, sun2013, sun2014, sun2015, sun2016, sun2017, sun2018, sun2019, sun2020, sun2021]
sun = pd.concat(sun_frames)

In [146]:
sun['Date'] = pd.to_datetime(sun['Fecha']).dt.date
sun['Time'] = pd.to_datetime(sun['Fecha']).dt.time

In [147]:
sun = sun.groupby(['Date']).mean('Valor')

In [148]:
sun['SunValue'] = sun['Valor']

## Temperature min

In [149]:
temmin['Date'] = pd.to_datetime(temmin['Fecha']).dt.date
temmin['Time'] = pd.to_datetime(temmin['Fecha']).dt.time

In [150]:
temmin['TemMinValue'] = temmin['Valor']

## Temperature max

In [151]:
temmax['Date'] = pd.to_datetime(temmax['Fecha']).dt.date
temmax['Time'] = pd.to_datetime(temmax['Fecha']).dt.time

In [152]:
temmax['TemMaxValue'] = temmax['Valor']

## Wind Speed

In [153]:
# velocidadviento['Date'] = pd.to_datetime(velocidadviento['Fecha']).dt.date
# velocidadviento['Time'] = pd.to_datetime(velocidadviento['Fecha']).dt.time

## Humedad

In [154]:
humidity['Date'] = pd.to_datetime(humidity['Fecha']).dt.date
humidity['Time'] = pd.to_datetime(humidity['Fecha']).dt.time

In [155]:
humidity['HumidityValue'] = humidity['Valor']

## Evaporación

In [156]:
evaporation['Date'] = pd.to_datetime(evaporation['Fecha']).dt.date
evaporation['Time'] = pd.to_datetime(evaporation['Fecha']).dt.time

In [157]:
evaporation['EvaporationValue'] = evaporation['Valor']

## Precipitación

In [158]:
precipitation['Date'] = pd.to_datetime(precipitation['Fecha']).dt.date
precipitation['Time'] = pd.to_datetime(precipitation['Fecha']).dt.time

In [159]:
precipitation['PrecipitationValue'] = precipitation['Valor']

## Speed Wind 10 Minutes

In [160]:
wind_speed.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 661715 entries, 0 to 661714
Data columns (total 12 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   CodigoEstacion     661715 non-null  int64
 1   CodigoSensor       661715 non-null  int64
 2   FechaObservacion   661715 non-null  object
 3   ValorObservado     661715 non-null  float64
 4   NombreEstacion     661715 non-null  object
 5   Departamento       661715 non-null  object
 6   Municipio          661715 non-null  object
 7   ZonaHidrografica   661715 non-null  object
 8   Latitud            661715 non-null  float64
 9   Longitud           661715 non-null  float64
 10  DescripcionSensor  661715 non-null  object
 11  UnidadMedida       661715 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 60.6+ MB

In [161]:
column = wind_speed["FechaObservacion"]
max_value = column.max()
min_value = column.min()

print("Min: " + min_value + " Max: " + max_value)

Min: 01/01/2006 01:00:00 AM Max: 12/31/2021 12:50:00 PM

In [162]:
wind_speed['Date'] = pd.to_datetime(wind_speed['FechaObservacion'])
wind_speed = wind_speed.groupby(pd.Grouper(key='Date', freq='D')).mean()

<ipython-input-162-387bc8da60b7>:2: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  wind_speed = wind_speed.groupby(pd.Grouper(key='Date', freq='D')).mean()

In [163]:
wind_speed

            CodigoEstacion  CodigoSensor  ValorObservado   Latitud   Longitud
Date
2005-04-21      24035430.0         103.0        1.063889  5.745917 -73.116361
2005-04-22      24035430.0         103.0        1.149306  5.745917 -73.116361
2005-04-23      24035430.0         103.0        1.215972  5.745917 -73.116361
2005-04-24      24035430.0         103.0        0.994444  5.745917 -73.116361
2005-04-25      24035430.0         103.0        1.112319  5.745917 -73.116361
...                    ...           ...             ...       ...        ...
2022-06-24      24035430.0         103.0        1.048252  5.745917 -73.116361
2022-06-25      24035430.0         103.0        0.865116  5.745917 -73.116361
2022-06-26      24035430.0         103.0        0.820139  5.745917 -73.116361
2022-06-27      24035430.0         103.0        1.246825  5.745917 -73.116361
2022-06-28      24035430.0         103.0        1.045833  5.745917 -73.116361

[6278 rows x 5 columns]

In [164]:
wind_speed['WindSpeedValue'] = wind_speed['ValorObservado']

In [165]:
sun.info()

<class 'pandas.core.frame.DataFrame'>
Index: 7291 entries, 2000-12-31 to 2021-12-31
Data columns (total 10 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CodigoEstacion   7291 non-null   float64
 1   Latitud          7291 non-null   float64
 2   Longitud         7291 non-null   float64
 3   Altitud          7291 non-null   float64
 4   FechaSuspension  0 non-null      float64
 5   Valor            7291 non-null   float64
 6   Grado            7291 non-null   float64
 7   Calificador      0 non-null      float64
 8   NivelAprobacion  7291 non-null   float64
 9   SunValue         7291 non-null   float64
dtypes: float64(10)
memory usage: 626.6+ KB

In [166]:
wind_speed.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 6278 entries, 2005-04-21 to 2022-06-28
Freq: D
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CodigoEstacion  5456 non-null   float64
 1   CodigoSensor    5456 non-null   float64
 2   ValorObservado  5456 non-null   float64
 3   Latitud         5456 non-null   float64
 4   Longitud        5456 non-null   float64
 5   WindSpeedValue  5456 non-null   float64
dtypes: float64(6)
memory usage: 343.3 KB

In [167]:
precipitation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1826 entries, 0 to 1825
Data columns (total 24 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   CodigoEstacion      1826 non-null   int64
 1   NombreEstacion      1826 non-null   object
 2   Latitud             1826 non-null   float64
 3   Longitud            1826 non-null   float64
 4   Altitud             1826 non-null   int64
 5   Categoria           1826 non-null   object
 6   Entidad             1826 non-null   object
 7   AreaOperativa       1826 non-null   object
 8   Departamento        1826 non-null   object
 9   Municipio           1826 non-null   object
 10  FechaInstalacion    1826 non-null   object
 11  FechaSuspension     0 non-null      float64
 12  IdParametro         1826 non-null   object
 13  Etiqueta            1826 non-null   object
 14  DescripcionSerie    1826 non-null   object
 15  Frecuencia          1826 non-null   object
 16  Fecha               1826 non-null   object
 17  Valor               1826 non-null   float64
 18  Grado               1826 non-null   int64
 19  Calificador         0 non-null      float64
 20  NivelAprobacion     1826 non-null   int64
 21  Date                1826 non-null   object
 22  Time                1826 non-null   object
 23  PrecipitationValue  1826 non-null   float64
dtypes: float64(6), int64(4), object(14)
memory usage: 342.5+ KB

In [168]:
humidity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5714 entries, 0 to 5713
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CodigoEstacion    5714 non-null   int64
 1   NombreEstacion    5714 non-null   object
 2   Latitud           5714 non-null   float64
 3   Longitud          5714 non-null   float64
 4   Altitud           5714 non-null   int64
 5   Categoria         5714 non-null   object
 6   Entidad           5714 non-null   object
 7   AreaOperativa     5714 non-null   object
 8   Departamento      5714 non-null   object
 9   Municipio         5714 non-null   object
 10  FechaInstalacion  5714 non-null   object
 11  FechaSuspension   0 non-null      float64
 12  IdParametro       5714 non-null   object
 13  Etiqueta          5714 non-null   object
 14  DescripcionSerie  5714 non-null   object
 15  Frecuencia        5714 non-null   object
 16  Fecha             5714 non-null   object
 17  Valor             5714 non-null   int64
 18  Grado             5714 non-null   int64
 19  Calificador       0 non-null      float64
 20  NivelAprobacion   5714 non-null   int64
 21  Date              5714 non-null   object
 22  Time              5714 non-null   object
 23  HumidityValue     5714 non-null   int64
dtypes: float64(4), int64(6), object(14)
memory usage: 1.0+ MB

In [169]:
evaporation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6072 entries, 0 to 6071
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CodigoEstacion    6072 non-null   int64
 1   NombreEstacion    6072 non-null   object
 2   Latitud           6072 non-null   float64
 3   Longitud          6072 non-null   float64
 4   Altitud           6072 non-null   int64
 5   Categoria         6072 non-null   object
 6   Entidad           6072 non-null   object
 7   AreaOperativa     6072 non-null   object
 8   Departamento      6072 non-null   object
 9   Municipio         6072 non-null   object
 10  FechaInstalacion  6072 non-null   object
 11  FechaSuspension   0 non-null      float64
 12  IdParametro       6072 non-null   object
 13  Etiqueta          6072 non-null   object
 14  DescripcionSerie  6072 non-null   object
 15  Frecuencia        6072 non-null   object
 16  Fecha             6072 non-null   object
 17  Valor             6072 non-null   int64
 18  Grado             6072 non-null   int64
 19  Calificador       0 non-null      float64
 20  NivelAprobacion   6072 non-null   int64
 21  Date              6072 non-null   object
 22  Time              6072 non-null   object
 23  EvaporationValue  6072 non-null   int64
dtypes: float64(4), int64(6), object(14)
memory usage: 1.1+ MB

In [170]:
temmin.info()
temmax.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7049 entries, 0 to 7048
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CodigoEstacion    7049 non-null   int64
 1   NombreEstacion    7049 non-null   object
 2   Latitud           7049 non-null   float64
 3   Longitud          7049 non-null   float64
 4   Altitud           7049 non-null   int64
 5   Categoria         7049 non-null   object
 6   Entidad           7049 non-null   object
 7   AreaOperativa     7049 non-null   object
 8   Departamento      7049 non-null   object
 9   Municipio         7049 non-null   object
 10  FechaInstalacion  7049 non-null   object
 11  FechaSuspension   0 non-null      float64
 12  IdParametro       7049 non-null   object
 13  Etiqueta          7049 non-null   object
 14  DescripcionSerie  7049 non-null   object
 15  Frecuencia        7049 non-null   object
 16  Fecha             7049 non-null   object
 17  Valor             7049 non-null   float64
 18  Grado             7049 non-null   int64
 19  Calificador       0 non-null      float64
 20  NivelAprobacion   7049 non-null   int64
 21  Date              7049 non-null   object
 22  Time              7049 non-null   object
 23  TemMinValue       7049 non-null   float64
dtypes: float64(6), int64(4), object(14)
memory usage: 1.3+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7054 entries, 0 to 7053
Data columns (total 24 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CodigoEstacion    7054 non-null   int64
 1   NombreEstacion    7054 non-null   object
 2   Latitud           7054 non-null   float64
 3   Longitud          7054 non-null   float64
 4   Altitud           7054 non-null   int64
 5   Categoria         7054 non-null   object
 6   Entidad           7054 non-null   object
 7   AreaOperativa     7054 non-null   object
 8   Departamento      7054 non-null   object
 9   Municipio         7054 non-null   object
 10  FechaInstalacion  7054 non-null   object
 11  FechaSuspension   0 non-null      float64
 12  IdParametro       7054 non-null   object
 13  Etiqueta          7054 non-null   object
 14  DescripcionSerie  7054 non-null   object
 15  Frecuencia        7054 non-null   object
 16  Fecha             7054 non-null   object
 17  Valor             7054 non-null   float64
 18  Grado             7054 non-null   int64
 19  Calificador       0 non-null      float64
 20  NivelAprobacion   7054 non-null   int64
 21  Date              7054 non-null   object
 22  Time              7054 non-null   object
 23  TemMaxValue       7054 non-null   float64
dtypes: float64(6), int64(4), object(14)
memory usage: 1.3+ MB

In [171]:
precipitation_open_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10989979 entries, 0 to 10989978
Data columns (total 12 columns):
 #   Column             Dtype
---  ------             -----
 0   CodigoEstacion     int64
 1   CodigoSensor       int64
 2   FechaObservacion   object
 3   ValorObservado     float64
 4   NombreEstacion     object
 5   Departamento       object
 6   Municipio          object
 7   ZonaHidrografica   object
 8   Latitud            float64
 9   Longitud           float64
 10  DescripcionSensor  object
 11  UnidadMedida       object
dtypes: float64(3), int64(2), object(7)
memory usage: 1006.2+ MB

In [172]:
column_precipitation_open_data = precipitation_open_data["FechaObservacion"]
max_value_precipitation_open_data = column_precipitation_open_data.max()
min_value_precipitation_open_data = column_precipitation_open_data.min()

print("Min: " + min_value_precipitation_open_data + " Max: " + max_value_precipitation_open_data)

Min: 01/01/2006 01:00:00 AM Max: 12/31/2021 12:55:00 PM

In [ ]:
precipitation_open_data['Date'] = pd.to_datetime(precipitation_open_data['FechaObservacion']).dt.date
precipitation_open_data['Time'] = pd.to_datetime(precipitation_open_data['FechaObservacion']).dt.time
precipitation_open_data = precipitation_open_data.groupby(['Date']).mean('ValorObservado')

In [ ]:
precipitation_open_data['PrecipitationValue'] = precipitation_open_data['ValorObservado']

In [ ]:
precipitation_open_data.info()

In [ ]:
sun.info()

In [ ]:
humidity.Date.max()

In [ ]:
humidity.Date.min()

In [ ]:
temmax.Date.max()

In [ ]:
temmax.Date.min()

In [ ]:
temmin.Date.max()

In [ ]:
temmin.Date.min()

# Build Data Set

## Sun

In [ ]:
x_sun = sun[['SunValue']]

In [ ]:
x_sun.info()

In [ ]:
x_sun.describe()

## Temperature Min

In [ ]:
x_temmin = temmin[['Date', 'TemMinValue']]

In [ ]:
x_temmin.info()

In [ ]:
x_temmin.describe()

## Temperature Max

In [ ]:
x_temmax = temmax[['Date', 'TemMaxValue']]

In [ ]:
x_temmax.info()

In [ ]:
x_temmax.describe()

## Humidity

In [ ]:
x_humidity = humidity[['Date', 'HumidityValue']]

In [ ]:
x_humidity.info()

In [ ]:
x_humidity.describe()

## Precipitation

In [ ]:
x_precipitation = precipitation_open_data['PrecipitationValue']

In [ ]:
x_precipitation

In [ ]:
x_precipitation.describe()

## Join Datasets

In [ ]:
dataset = pd.merge(pd.merge(pd.merge(pd.merge(x_sun,x_temmin,on='Date'),x_temmax,on='Date'),x_humidity,on='Date'),x_precipitation,on='Date')

## Bulding; Year, Month, Day

In [ ]:
dataset['year'] = pd.DatetimeIndex(dataset['Date']).year
dataset['month'] = pd.DatetimeIndex(dataset['Date']).month
dataset['day'] = pd.DatetimeIndex(dataset['Date']).day

In [ ]:
x = dataset[['year', 'month', 'day', 'TemMaxValue', 'TemMinValue', 'HumidityValue', 'SunValue']]
x_MLR = dataset[['TemMaxValue', 'TemMinValue', 'HumidityValue', 'SunValue']]
x_RF = dataset[['year', 'month','TemMinValue', 'HumidityValue', 'SunValue']]
x_XGB = dataset[['year', 'month', 'TemMinValue', 'HumidityValue', 'SunValue']]
x_MLP = dataset[['year', 'month', 'TemMinValue', 'HumidityValue', 'SunValue']]
y = dataset[['PrecipitationValue']]

In [ ]:
x

In [ ]:
y

In [ ]:
y.describe()

In [ ]:
import seaborn as sns # Convention alias for Seaborn
import matplotlib.pyplot as plt

variables = ['year', 'month', 'day', 'SunValue', 'HumidityValue', 'TemMinValue','TemMaxValue']

for var in variables:
    plt.figure() # Creating a rectangle (figure) for each plot
    # Regression Plot also by default includes
    # best-fitting regression line
    # which can be turned off via `fit_reg=False`
    sns.regplot(x=var, y='PrecipitationValue', data=dataset).set(title=f'Regression plot of {var} and Petrol Consumption');

In [ ]:
correlations = dataset.corr()
# annot=True displays the correlation values
sns.heatmap(correlations, annot=True).set(title='Heatmap of Consumption Data - Pearson Correlations');

# Bulding Models

## Multivariable Linear Regression (MLR)

**Original equation:**
$$ Daily rainfall = year ∗ β1
 + (month ∗ β2) + day ∗ β3
 + (MaxTemp ∗ β4) + (MinTemp ∗ β5) + Humidity ∗ β6
 + (Evaporation ∗ β7) + (sunshine ∗ β8) + (windspeed ∗ β9) + εi $$

**Equation adapted to data availability:**
$$ Daily rainfall = year ∗ β1
 + (month ∗ β2) + day ∗ β3
 + (MaxTemp ∗ β4) + (MinTemp ∗ β5) + Humidity ∗ β6
 + (sunshine ∗ β7) + εi $$

In [ ]:
# importing train_test_split from sklearn
from sklearn.model_selection import train_test_split
# splitting the data
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.4, random_state = 42)
x_MLR_train, x_MLR_test, y_train, y_test = train_test_split(x_MLR, y, test_size = 0.4, random_state = 42)
x_RF_train, x_RF_test, y_train, y_test = train_test_split(x_RF, y, test_size = 0.4, random_state = 42)
x_XGB_train, x_XGB_test, y_train, y_test = train_test_split(x_XGB, y, test_size = 0.4, random_state = 42)
x_MLP_train, x_MLP_test, y_train, y_test = train_test_split(x_MLP, y, test_size = 0.4, random_state = 42)

In [ ]:
y_test.shape

In [ ]:
# importing module
from sklearn.linear_model import LinearRegression
# creating an object of LinearRegression class
model_MLR = LinearRegression()
# fitting the training data
model_MLR.fit(x_train,y_train)

# creating an object of LinearRegression class
model_MLR_2 = LinearRegression()
# fitting the training data
model_MLR_2.fit(x_MLR_train,y_train)

In [ ]:
y_prediction_MLR =  model_MLR.predict(x_test)
y_prediction_MLR_2 =  model_MLR_2.predict(x_MLR_test)
y_prediction_MLR

In [ ]:
feature_names = x.columns
model_coefficients_MLR = model_MLR.coef_.reshape(-1,1)

coefficients_MLR_df = pd.DataFrame(data = model_coefficients_MLR, index = feature_names, columns = ['Coefficient value'])

print(coefficients_MLR_df)

In [ ]:
y_prediction_MLR.shape

In [ ]:
y_test.shape

In [ ]:
results = pd.DataFrame({'Actual': [y_test], 'Predicted': [y_prediction_MLR]})
print(results)

In [ ]:
# importing r2_score module
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import numpy as np

In [ ]:
from sklearn.metrics import mean_absolute_error
MAE_MLR = mean_absolute_error(y_test, y_prediction_MLR)
MAE_MLR_2 = mean_absolute_error(y_test, y_prediction_MLR_2)
print('Mean Absolute Error:', round(np.mean(MAE_MLR), 4), 'degrees.')
print('Mean Absolute Error:', round(np.mean(MAE_MLR_2), 4), 'degrees.')

In [ ]:
from sklearn.metrics import mean_squared_error
RMSE_MLR = mean_squared_error(y_test, y_prediction_MLR)
RMSE_MLR_2 = mean_squared_error(y_test, y_prediction_MLR_2)
print('Mean Squared Error:', round(np.mean(RMSE_MLR), 4), 'degrees.')
print('Mean Squared Error:', round(np.mean(RMSE_MLR_2), 4), 'degrees.')

In [ ]:
R2_SCORE_MLR = r2_score(y_test, y_prediction_MLR)
R2_SCORE_MLR_2 = r2_score(y_test, y_prediction_MLR_2)
print('R2 Score:', round(R2_SCORE_MLR, 4), 'degrees.')
print('R2 Score:', round(R2_SCORE_MLR_2, 4), 'degrees.')

## Random Forest

In [ ]:
# Import the model we are using
from sklearn.ensemble import RandomForestRegressor
# Instantiate model with 1000 decision trees
model_RF = RandomForestRegressor(n_estimators = 1000, random_state = 42)
model_RF_2 = RandomForestRegressor(n_estimators = 1000, random_state = 42)
# Train the model on training data
model_RF.fit(x_train, y_train);
model_RF_2.fit(x_RF_train, y_train);

In [ ]:
# Use the forest's predict method on the test data
y_prediction_RF = model_RF.predict(x_test)
y_prediction_RF = y_prediction_RF.reshape(1574,1)

y_prediction_RF_2 = model_RF_2.predict(x_RF_test)
y_prediction_RF_2 = y_prediction_RF_2.reshape(1574,1)

In [ ]:
from sklearn.metrics import mean_absolute_error
MAE_RF = mean_absolute_error(y_test, y_prediction_RF)
MAE_RF_2 = mean_absolute_error(y_test, y_prediction_RF_2)

print('Mean Absolute Error:', round(np.mean(MAE_RF), 4), 'degrees.')
print('Mean Absolute Error:', round(np.mean(MAE_RF_2), 4), 'degrees.')

In [ ]:
from sklearn.metrics import mean_squared_error
RMSE_RF = mean_squared_error(y_test, y_prediction_RF)
RMSE_RF_2 = mean_squared_error(y_test, y_prediction_RF_2)
print('Mean Squared Error:', round(np.mean(RMSE_RF), 4), 'degrees.')
print('Mean Squared Error:', round(np.mean(RMSE_RF_2), 4), 'degrees.')

In [ ]:
R2_SCORE_RF = r2_score(y_test, y_prediction_RF)
R2_SCORE_RF_2 = r2_score(y_test, y_prediction_RF_2)
print('R2 Score:', round(R2_SCORE_RF, 4), 'degrees.')
print('R2 Score:', round(R2_SCORE_RF_2, 4), 'degrees.')

In [ ]:
feature_names = x.columns
model_fi_RF = model_RF.feature_importances_.reshape(-1,1)

fi_RF_df = pd.DataFrame(data = model_fi_RF, index = feature_names, columns = ['Feature Importances Values'])

print(fi_RF_df)

## XGBoots Gradient Decent

In [ ]:
from sklearn.datasets import make_regression
from sklearn.ensemble import GradientBoostingRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.datasets import load_wine

In [ ]:
model_XGB = GradientBoostingRegressor(
                n_estimators = 150,
                max_features=1.0,
                random_state = 123
             )

model_XGB_2 = GradientBoostingRegressor(
                n_estimators = 150,
                max_features=1.0,
                random_state = 123
             )

In [ ]:
model_XGB.fit(x_train, y_train)
model_XGB_2.fit(x_XGB_train, y_train)

In [ ]:
y_prediction_XG = model_XGB.predict(x_test)
y_prediction_XG_2 = model_XGB_2.predict(x_XGB_test)

In [ ]:
y_prediction_XG

In [ ]:
from sklearn.metrics import mean_absolute_error
MAE_XGBOOTS = mean_absolute_error(y_test, y_prediction_XG)
MAE_XGBOOTS_2 = mean_absolute_error(y_test, y_prediction_XG_2)

print('Mean Absolute Error:', round(np.mean(MAE_XGBOOTS), 4), 'degrees.')
print('Mean Absolute Error:', round(np.mean(MAE_XGBOOTS_2), 4), 'degrees.')

In [ ]:
from sklearn.metrics import mean_squared_error
RMSE_XGBOOTS = mean_squared_error(y_test, y_prediction_XG)
RMSE_XGBOOTS_2 = mean_squared_error(y_test, y_prediction_XG_2)
print('Mean Squared Error:', round(np.mean(RMSE_XGBOOTS), 4), 'degrees.')
print('Mean Squared Error:', round(np.mean(RMSE_XGBOOTS_2), 4), 'degrees.')

In [ ]:
R2_SCORE_XGBOOST = r2_score(y_test, y_prediction_XG)
R2_SCORE_XGBOOST_2 = r2_score(y_test, y_prediction_XG_2)
print('R2 Score:', round(R2_SCORE_XGBOOST, 4), 'degrees.')
print('R2 Score:', round(R2_SCORE_XGBOOST_2, 4), 'degrees.')

In [ ]:
# initialize list of lists
data_test = [[2027,	1,	31,	25.0,	3.8,	52,	0.4714285714285714]]

# Create the pandas DataFrame
df_test = pd.DataFrame(data_test, columns=['year', 'month', 'day', 'TemMaxValue', 'TemMinValue', 'HumidityValue', 'SunValue'])
y_pred_test = model_XGB.predict(df_test)

In [ ]:
y_pred_test

In [ ]:
feature_names = x.columns
model_fi_XGB = model_XGB.feature_importances_.reshape(-1,1)

fi_XGB_df = pd.DataFrame(data = model_fi_XGB, index = feature_names, columns = ['Feature Importances Values'])

print(fi_XGB_df)

# Validation Models

## MLR

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn import metrics

kf = KFold(n_splits=5)

score_MLR = model_MLR.score(x_test,y_test)
print("Accuracy: %.2f%%" % (score_MLR*100.0))

score_MLR_2 = model_MLR_2.score(x_MLR_test,y_test)
print("Accuracy: %.2f%%" % (score_MLR_2*100.0))

In [ ]:
# Gráfico
fig, ax = plt.subplots(figsize=(7,5))
ax.scatter(range(len(y_test)), y_test, color = "black", label = "Original")
ax.plot(range(len(y_test)), y_prediction_MLR, color = "red", label = "Predition", linewidth=3)
ax.set_title("Model Multi Linear Regression")
plt.legend();

## Random Forest

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.model_selection import KFold
from sklearn import metrics

score_RF = model_RF.score(x_test,y_test)
print("Accuracy: %.2f%%" % (score_RF*100.0))

score_RF_2 = model_RF_2.score(x_RF_test,y_test)
print("Accuracy: %.2f%%" % (score_RF_2*100.0))

In [ ]:
# Gráfico
fig, ax = plt.subplots(figsize=(7,5))
ax.scatter(range(len(y_test)), y_test, color = "black", label = "Original")
ax.plot(range(len(y_test)), y_prediction_RF, color = "red", label = "Predition", linewidth=3)
ax.set_title("Model Random Forest")
plt.legend();

# XGBoost Gradient Decent

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import metrics

score_XGB = model_XGB.score(x_test,y_test)
print("Accuracy: %.2f%%" % (score_XGB*100.0))

score_XGB_2 = model_XGB_2.score(x_XGB_test,y_test)
print("Accuracy: %.2f%%" % (score_XGB_2*100.0))

In [ ]:
# Gráfico
fig, ax = plt.subplots(figsize=(7,5))
ax.scatter(range(len(y_test)), y_test, color = "black", label = "Original")
ax.plot(range(len(y_test)), y_prediction_XG, color = "red", label = "Predition", linewidth=3)
ax.set_title("Model XGBoost Gradient Descent")
plt.legend();

In [ ]:
range(len(y_test))

# Neural Network Model

In [ ]:
x.info()

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.neural_network import MLPRegressor
from sklearn import metrics
from sklearn.model_selection import GridSearchCV

sc=StandardScaler()
scaler = sc.fit(x_train)
x_train_scaled = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

x_train_scaled_2 = scaler.transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [ ]:
model_MLP = MLPRegressor(hidden_layer_sizes=(150,100,50),
                       max_iter = 300,activation = 'relu',
                       solver = 'adam')

model_MLP.fit(x_train_scaled, y_train.values.ravel())
y_prediction_MLP = model_MLP.predict(x_test_scaled)

model_MLP_2 = MLPRegressor(hidden_layer_sizes=(150,100,50),
                       max_iter = 300,activation = 'relu',
                       solver = 'adam')

model_MLP_2.fit(x_train_scaled, y_train.values.ravel())
y_prediction_MLP = model_MLP.predict(x_test_scaled)

In [ ]:
y_test=y_test.reshape((len(y_test)))
y_prediction_MLP=y_prediction_MLP.reshape((len(y_prediction_MLP)))

In [ ]:
df_temp = pd.DataFrame({'Actual': y_test, 'Predicted': y_prediction_MLP})
df_temp.head()

df_temp = df_temp.head(30)
df_temp.plot(kind='bar',figsize=(10,6))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, y_prediction_MLP))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, y_prediction_MLP))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, y_prediction_MLP)))

plt.plot(y_prediction_MLP.loss_curve_)
plt.title("Loss Curve", fontsize=14)
plt.xlabel('Iterations')
plt.ylabel('Cost')
plt.show()


param_grid = {
    'hidden_layer_sizes': [(150,100,50), (120,80,40), (100,50,30)],
    'max_iter': [50, 100],
    'activation': ['tanh', 'relu'],
    'solver': ['sgd', 'adam'],
    'alpha': [0.0001, 0.05],
    'learning_rate': ['constant','adaptive'],
}

grid = GridSearchCV(y_prediction_MLP, param_grid, n_jobs= -1, cv=5)
grid.fit(x_train_scaled, y_train)

print(grid.best_params_) 

grid_predictions = grid.predict(x_test_scaled) 

df_temp2 = pd.DataFrame({'Actual': y_test, 'Predicted': grid_predictions})
df_temp2.head()

df_temp2 = df_temp2.head(30)
df_temp2.plot(kind='bar',figsize=(10,6))
plt.grid(which='major', linestyle='-', linewidth='0.5', color='green')
plt.grid(which='minor', linestyle=':', linewidth='0.5', color='black')
plt.show()

print('Mean Absolute Error:', metrics.mean_absolute_error(y_test, grid_predictions))  
print('Mean Squared Error:', metrics.mean_squared_error(y_test, grid_predictions))  
print('Root Mean Squared Error:', np.sqrt(metrics.mean_squared_error(y_test, grid_predictions)))

In [ ]:
score_MLP = model_MLP.score(x_test,y_test)
print("Accuracy: %.2f%%" % (score_XGB*100.0))

score_MLP_2 = model_MLP_2.score(x_MLP_test,y_test)
print("Accuracy: %.2f%%" % (score_MLP_2*100.0))

In [ ]:
# Gráfico
fig, ax = plt.subplots(figsize=(7,5))
ax.scatter(range(len(y_test)), y_test, color = "black", label = "Original")
ax.plot(range(len(y_test)), y_prediction_MLP, color = "red", label = "Predition", linewidth=3)
ax.set_title("Model Neural Network")
plt.legend();

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from sklearn import metrics

score_XGB = model_XGB.score(x_test,y_test)
print("Accuracy: %.2f%%" % (score_XGB*100.0))

score_XGB_2 = model_XGB_2.score(x_XGB_test,y_test)
print("Accuracy: %.2f%%" % (score_XGB_2*100.0))

In [ ]:
!pip install ppscore

In [ ]:
import ppscore as pps

In [ ]:

import warnings
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from collections import Counter

warnings.filterwarnings("ignore")

In [ ]:
dataset_pps = dataset[['SunValue', 'TemMinValue', 'TemMaxValue', 'HumidityValue', 'PrecipitationValue', 'year', 'month', 'day']].copy()

In [ ]:
import re

dataset_pps = dataset_pps.astype(float)
dataset_pps['SunValue'] = dataset_pps['SunValue'].astype(float)
print(dataset_pps.dtypes)

In [ ]:
dataset_pps

In [ ]:
# annot=True displays the correlation values
sns.heatmap(dataset_pps.corr(),annot=True,fmt=".2f").set(title='Heatmap of Climatic Data - Predictive Power Score');

In [ ]:
dataset_pps.info()

In [ ]:
plt.figure(figsize=(16,12))
correlations = pps.matrix(dataset_pps)
sns.heatmap(correlations,annot=True).set(title='Heatmap of Climatic Data - Pearson Correlations');